.box {
    height: 1000px;
}

.mov {
    width: 1000px;
    height: 500px;
    border-radius: 5px;
}

@media (max-width:1200px) {
    .mov {
        width: 900px;
    }
}

@media (max-width: 1020px) {
    .mov {
        width: 700px;
    }
}

@media (max-width: 830px) {
    .mov {
        width: 600px;
    }
}

@media (max-width: 700px) {
    .mov {
        width: 450px;
    }
}

@media (max-width: 560px) {
    .mov {
        width: 350px;
    }
}