.sox {
    height: 2200px;
}

.episodes {
    display: grid;
    gap: 50px;
    justify-content: start;
    width: 1000px;
    justify-content: center;
}

.s0 {
    border-radius: 10px;
    height: 200px;
    width: 1000px;
    font-weight: bold;
    border: 2px solid #A5C9CA ;
    color: #395B64;
}

.s1 {
    border-radius: 10px;
    height: 200px;
    width: 1000px;
    font-weight: bold;
    border: 2px solid #A5C9CA ;
    color: #395B64;
}

.s2 {
    border-radius: 10px;
    height: 200px;
    width: 1000px;
    font-weight: bold;
    border: 2px solid #A5C9CA ;
    color: #395B64;
}

.s3 {
    border-radius: 10px;
    height: 200px;
    width: 1000px;
    font-weight: bold;
    border: 2px solid #A5C9CA ;
    color: #395B64;
}

.s4 {
    border-radius: 10px;
    height: 200px;
    width: 1000px;
    font-weight: bold;
    border: 2px solid #A5C9CA ;
    color: #395B64;
}

.s5 {
    border-radius: 10px;
    height: 200px;
    width: 1000px;
    font-weight: bold;
    border: 2px solid #A5C9CA ;
    color: #395B64;
}

.br-s {
    color: #A5C9CA;
}

@media (max-width:1200px) {
    .s1 {
        width: 900px;
    }

    .s2 {
        width: 900px;
    }
 
    .s3 {
        width: 900px;
    }

    .s4 {
        width: 900px;
    }

    .s5 {
        width: 900px;
    }
}
