@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  padding: 0;
  margin: 0;
}

a {
  color: #395B64;
  text-decoration: none;
}

body {
  background-color: #2C3333;
  display: grid;
  justify-content: center;
  color: #b10e62;
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  overflow-x: hidden;
}

.App {
  max-width: 1000px;
  width: 1000px;
  background-color: #2C3333;
  min-height: 100vh;
  color: white;
  font-family: 'Noto Serif JP', serif;
  color: #A5C9CA;
  text-align: center;

}

.top {
  position: fixed;
  right: 50px;
  bottom: 140px;
  height: 60px;
  width: 60px;
  padding-bottom: 10px;
  font-size: 3rem;
  font-weight: bold;
  display: none;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
}

.top-af {
  display: block;
}